@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: couture;
  src: url("@/assets/fonts/couture-bld.otf") format("opentype");
}

@font-face {
  font-family: montserrat;
  src: url("@/assets/fonts/MONTSERRAT-BOLD.otf") format("opentype");
}